@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400&display=swap');

*{
    font-family: 'Poppins', sans-serif;;
}
html{
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
}
header {
    margin: 0;
    padding: 0;
    background: black;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
header h1 {
    color: white;

}
main {
    display: none;
    background-image: url(../images/marcel-strauss-S-FwbFOoBPI-unsplash.jpg) ;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(4px) brightness(1.24) contrast(97%) grayscale(21%) hue-rotate(360deg) saturate(300%) sepia(100%)

}
.search-container{
width: 100%;
height: auto;
padding: 5%;
align-items: center;
display: flex;
justify-content: center;


}
.search-bar{
    width: 100%;
    max-width: 350px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    padding: 10px;
    background: darkgray;
    backdrop-filter: blur(4px)saturate(180%);
    border: 0px;
}

.search-bar input {
    background: darkgray;
    flex: 1;
    border: 0;
    border-radius: 30px;
    outline: none;
    padding: 14px 20px;
    font-size: 20px;
    color: white
}
::placeholder {
    color: white
}
.search-bar button img {
    width: 25px;
}
.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: white;
    cursor: pointer;
}
.movie-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    
    padding: 50px;
}

.card-container {
    background-color: rgba(179, 175, 175, 0.6);
    padding: 15px;
    border-radius: 30px;
    height: 520px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    min-width: auto;
    max-width: 280px;
    height: auto;
    margin: 20px;
    text-align: center;
    
    align-items: center;
}
.inner-Container img {
    
    max-width: 300px;
    max-height: 350px;
    border-radius: 25px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    object-fit:cover;
}
.info-container {
    height: auto;

   
   }
   

.info-container ul li h2 {
    color: white;
    background-color: black;
    border-radius: 25px;
    padding: 30px;
    min-height: 70px;
    height: auto;
    text-align: center;
    font-weight: 600;
display:inline-block;

}

.secondli {
background: white;
border-radius: 25px;
padding: 10px 0px

}
.info-container li::marker{
    content: none;
    
}
body {
    margin: 0;
    padding: 0;
}

.info-container ul{
    
    padding: 0%;

}


.info-container ul li h3 {

}


